.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  font-weight: 900;
  font-size: 50px;
}

p {
  font-size: 25px;
  color: gray;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #172554;
  }
  h1,
  p {
    color: #ffffff;
  }
}

.content {
  font-family: sans-serif;
  text-align: center;
}

.line-clamped {
  line-height: 1.5;
  height: 4lh;
}

.btn {
  background-color: #4299e1;
  border: none;
  border-radius: 6px;
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

#card-content {
  padding-top: 15px;
  padding-bottom: 10px;
}

#card-title,
#card-info {
  transition: opacity 0.4s ease-in-out;
}

.active {
  opacity: 0;
}
